*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.text_container{
    height: 100%;
    display: table;
    float: left;
}

.text_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:'Times_New_Roman';
    font-size: 30px;
}

.navigasi {
    float: right;
    height: 100%;
}

.navigasi a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    margin-right: 20px;
}

.navigasi a:last-child{
    padding-right: 0;
}

.navigasi a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.catatan_web{
    text-align: center;
}

.pernyataan{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 64px;
    padding: 50px 0 50px;
    margin-top: 220px;
}

.flex-parent{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.tombolsaya{
    width: 200px;
    padding: 10px;
    background-color: rgb(21, 147, 224);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

a{
    margin-right: 20px;
}

section{
    text-align: center;
    padding: 8%;
}

.par{
    margin-top: 500px;
    height: 650px;
}

section header{
    font-size: 64px;
}

section nav{
    font-family: 'Roboto Thin';
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}